grupo {

    ion-scroll {
        height: 100px;
        max-height: 70%;
    }
    .card-group {
        background: #bbbbbb;
        padding-bottom: -3px;
    }
    .card-group .list {
        margin-top: -3px;
        padding-top: 3px;
        //background: #bbb;
    }
    .scroll-group{
        min-height: 40px;
        overflow-x: hidden;
        height: auto;
        max-height: calc(100vh - 200px);
        width: 100%;
    }

    .card-header {
        //background: color($colors, light);
        text-align: left;
        padding: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .button {
        border: 0px;
        box-shadow: 0px;       
    }


}
