galeria {

    .project-icon {
        font-size: 2em;
        width: 1.6em;
        height: 1.6em;
        background: #488aff;
        color: white;
        font-weight: bold;
        display: grid;
        align-items: center;
        justify-items: center;
        border-radius: 0.5em;
    }

}
