galeria {

    .project-icon {
        font-size: 2em;
        width: 1.6em;
        height: 1.6em;
        color: white;
        font-weight: bold;
        display: grid;
        align-items: center;
        justify-items: center;
        border-radius: 0.2em;
        box-shadow: 3px 1px 10px #ccc;
    }

    .light {
        color: color($colors, dark);
    }

}
