page-home {
    
    .card {
        border-radius: 0.5em;
    }
    .card-group {
        font-weight: bold;
        //color: white;
        //background-color: rgb(90, 132, 211);
    }
    
    .little-card {
        font-weight: normal;        
    }
    
    .slide-zoom {
        height: 100%;
    }
}
