<ion-header>
  <ion-toolbar>    
    <ion-title>Entrada</ion-title>
    <ion-buttons end>
      <button *ngIf="editar" ion-button icon-only>
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content padding >
  <button ion-button block (click)="addGrupo()">Novo grupo</button>
  <ion-slides loop>
    <ion-slide *ngFor="let grupo of grupos">
      <grupo [grupo]="grupo"></grupo>
    </ion-slide>
  </ion-slides>
</ion-content>